body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    padding: 0;
    font-size: larger;
    background-color: #ffe6f2;
}

header,
footer {
    background-color: #ff99cc;
    color: white;
    padding: 25px;
    text-align: center;
}

header nav {
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    width: 50%;
}

main {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

h1 {
    color: white;
}

h2 {
    color: #333;
}

img {
    width: 100%;
    height: auto;
}

section {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 0px;
}

table,
th,
td {
    border: 1px solid #ddd;
    text-align: center;
}

th,
td {
    padding: 10px;
}

th {
    background-color: #ff66b2;
    color: white;
}

ul {
    list-style-type: disc;
    padding-left: 30px;
}

footer a {
    color: white;
    text-decoration: none;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: larger;
}

.filters {
    margin: 10px;
}

a:hover {
    color: rgb(255, 182, 193);
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav a.active {
    color: rgb(255, 182, 193);
}

.about-section img {
    max-width: 100%;
}

.about-text {
    max-width: 100%;
    padding-left: 0;
    text-align: center;
}

.login-button {
    background-color: white;
    color: rgb(255, 182, 193);
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: larger;
    display: inline-block;
}

.login-button:hover {
    background-color: rgb(255, 182, 193);
    color: white;
}

@media (min-width: 800px) {
    header nav {
        font-size: 22px;
    }

    table,
    th,
    td {
        font-size: 16px;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    header nav {
        justify-content: space-between;
        font-size: 20px;
    }

    table,
    th,
    td {
        font-size: 14px;
    }
}

@media (min-width: 400px) and (max-width: 599px) {
    header nav {
        flex-direction: column;
        gap: 10px;
        font-size: 20px;
    }

    table,
    th,
    td {
        font-size: 12px;
    }

    .about-section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about-section img {
        max-width: 100%;
    }

    .about-text {
        max-width: 100%;
        padding-left: 0;
        text-align: center;
    }
}
